[core]
    excludesfile = /Users/markus/.gitignore_global
[user]
    name = Markus Wind
    email = markuswind@gmail.com
[push]
    default = matching
[alias]
    tree = "!. ~/.githelpers && pretty_git_log"
    head = !git r -1
    hardreset = "!git fuck-it && git clean -fd"

    r = !GIT_NO_PAGER=1 git tree -30
