[core]
  editor = "nvim"
  excludesfile = /Users/markus/.gitignore_global
[credential]
  helper = osxkeychain
[crential "https://github.com"]
  username = markuswind
[user]
  name = Markus Wind
  email = markuswind@gmail.com
[push]
  default = simple
[alias]
  s = status
  goodness = "!git diff $* | gn"
  aa = add .
  ca = commit --amend
  ci = commit --verbose
  co = checkout
  # stashes
  list-stash = "!git stash list | cat"
  show-stash = "!git stash show -p"
  # log aliases
  head = "!. ~/.githelpers && simple_git_head" -1
  slog = "!. ~/.githelpers && simple_git_log" -15
  # delete local branches which are 'gone'
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs git branch -D"
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow bold
  deleted = red strike
  changed = green
  untracked = cyan
[tig "color"]
  cursor = white red bold
[pull]
	rebase = false
