"*":
  "atom-scrolloff":
    scrolloff: 30
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.js": [
        "js"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter"
      "tree-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
    ]
    themes: [
      "one-dark-ui"
      "base16-ocean-dark-syntax-theme"
    ]
  editor:
    fontFamily: "Droid Sans Mono for Powerline"
    fontSize: 12
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "b954c330-a1da-6b26-e53e-cff316c396e7"
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    errorPanelHeight: 24
  nuclide:
    "nuclide-distraction-free-mode": {}
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: false
      showOpenFiles: false
    "nuclide-home":
      showHome: false
    use:
      "nuclide-current-working-directory": false
      "nuclide-datatip": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-quick-open": false
      "nuclide-remote-projects": false
      "nuclide-source-control-side-bar": false
      "nuclide-ui": false
      "nuclide-working-sets": false
      "nuclide-workspace-view-locations": false
      "nuclide-workspace-views": false
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    tabLength: 4
".hg-commit.text":
  editor:
    tabLength: 4
