'atom-text-editor':
  'ctrl-k': 'core:move-up'
  'ctrl-j': 'core:move-down'

'atom-text-editor.vim-mode:not(.insert-mode)':
  ': w': 'core:save'

'.platform-darwin atom-text-editor:not(mini)':
  'cmd-k': 'multi-cursor:expandUp'
  'cmd-j': 'multi-cursor:expandDown'
