// atom
@font-size: 11px;
html, body, .tree-view, .tab-bar .tab {
  font-size: @font-size;
}

.pane.active {
    padding-top: 0px;
}

// nuclide

.nuclide-btn-group {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

// vim-mode

.status-bar-vim-mode-normal,
.status-bar-vim-mode-insert,
.status-bar-vim-mode-visual {
  font-weight: bold;
  text-align: center;
  font-size: 1.0em;
  width: 5rem;
  text-transform: uppercase;
}

.status-bar-vim-mode-normal {
    color: rgb(163, 190, 140);
}

.status-bar-vim-mode-insert {
  color: rgb(180, 142, 173);
}

.status-bar-vim-mode-visual {
  color: rgb(235, 203, 139)
}
