// atom

.pane {
    padding-top: 0px;
}

.tab-bar {
  ::before {
      display:none;
  }

  .tab {
    max-width: 12.5em;
  }
}

html, body, .tab-bar .tab {
  font-size: 12.5;
}

.highlight {
    background-color: rgb(37, 41, 50);
}

.pane.active {
    padding-top: 0px;
}

.git-status.inline-block {
    display: none;
}

// nuclide

.nuclide-btn-group,
.nuclide-remote-projects-status-icon {
    display: none;
}

.omnisearch-modal {

    .omnisearch-tabs {
        .key-binding {
            display: none;
        }
    }

    .omnisearch-open-all.btn {
        display: none;
    }
}

// vim-mode

.status-bar-vim-mode-normal,
.status-bar-vim-mode-insert,
.status-bar-vim-mode-visual {
  font-weight: bold;
  text-align: center;
  font-size: 1.0em;
  width: 5rem;
  text-transform: uppercase;
}

.status-bar-vim-mode-normal {
    color: rgb(163, 190, 140);
}

.status-bar-vim-mode-insert {
  color: rgb(180, 142, 173);
}

.status-bar-vim-mode-visual {
  color: rgb(235, 203, 139)
}
